 <div id="aboutPage">
     <section class="fixedBackground1"></section>
     <section class="writing">
     <img class="aboutPageImg1" src="/images/ux-ui.jpg" alt="user experience design" width='50%' height="50%">
<p>Designing & building products is my passion. It’s more than just design. It’s about understanding the company and its clients. It’s about complex processes and joinery to achieve success.
    <strong>Web Design is about making an impact the second your users land on your page. </strong>
Every great design starts with an idea/concept. An idea is what forms the fundamental parts. It’s very important that all the fundamental parts are well defined and working.</p>
    <p>Designing for the web is not a job it's a lifestyle that dictates Empathy. As technology changes so does the challenge.
    An extension of my love for design and problem solving, UX allows me to dictate the skeleton.</p>
         
         </section>
      <section class="fixedBackground2"></section>
      <section class="writing">
<img class="aboutPageImg2" src="/images/UserCentered.jpg" alt="user experience design" width='50%' height="100%">
          <p> Always keeping my style smart, tidy, clean, and well-formed. When starting a project, I always take my time to plan, research and experiment, before kicking off with the final design work. My aim is to create such a strong impression on the end user that they have to act after seeing the design piece.I believe that one of my strongest points is that I always put myself not only in my client’s shoes, but also in the shoes of the end user. Every project has its target audience with its own needs, expectations, taste etc.</p>

                                  
</section>
      <section class="fixedBackground3"></section>
      <section class="writing">
     <img class="aboutPageImg3" src="/images/UI_UX.png" alt="user experience design"
          width='40%' height="80%">
      <p>Every single detail matters - structure, typography, images, proportions, colors, patterns, lines, edges... All should be synchronized to complete the maximum UX.</p>
     <p>  With the advent of new and exciting web technologies such as HTML5 and css3, I focus on keeping myself up to date and follow the road of progressive enhancement, helping people live a great browsing experience.</p>
 

     </section>
      <section class="fixedBackground4"></section>
     
     