<section id="info4">
  <!--<div class="slidesContainer">
      <img class='slides' src="/Client/assets/images/ux-research.jpg" alt="users research">
      <img class='slides' src="/Client/assets/images/affinity-diagram.jpg" alt="affinity mapping">
      <img class='slides' src="/Client/assets/images/UserCentered.jpg" alt="">
      <button class="btn1">&#10094;</button>
      <button class="btn2">&#10095;</button>
  </div>-->
    <div class="sample">
        <h2 class="topName">Mobile First<br>Design</h2>
        <div class='line'></div>
        <h2 class="bottomName">Responsive Web<br> Design</h2>
        
    </div>
    
          <div class="sec">
              <img src="/images/responsive-vs-mobile-first-webdesign-022-1024x689.png">
            </div>
          <div class="sec documentation">
              <br>
              <br>
              <br>
             <h3>Small + Medium + Large
One site for every screen.</h3>
              <br>
              <br>
              <br>
                <p>“Day by day, the number of devices, platforms, 
and browsers that need to work with your site grows. 
Responsive web design represents a fundamental shift 
in how we’ll build websites for the decade to come.”</p>
              <br>
              <hr>
              <br>
              <p><Strong>Mobile first </Strong>requires a new approach to planning, UX design, and development that puts handheld devices at the forefront of both strategy and implementation.</p>
              <p>Mobile devices are now the primary means by which users are accessing Web sites, and the number of people using sites on mobile devices is projected to triple within the next year.</p>
              
            
              
          </div>  
        </section>
        
<section id="info1">
    
           <h2>Re-thinking the Information Architecture</h2>
          <div class="sec">
              <img src="./images/prototypingusability.png">
          </div>
          <div class="sec documentation">
             
              <p>I audited the current application version, ran usability tests and analyzed the existing user experience, finding all areas that may slow down the process or confuse a user. Based on the findings, I was able to revise the original layouts significantly, making it simpler and allowing access to all application features much easier. Then I turned the wireframes into a clickable prototype that tested well with the beta users.</p>
          </div>  
        </section>
        
        
        <section id="info2">
             <h2>Focus on System Status</h2>
          <div class="sec documentation">
              <p>In our research, we identified the workflows and tasks that users used on a daily basis and those that were used just occasionally. We also gained a unique process understanding by spending time at the ABB labs to watch the real-life process and learn how staff interact with the device. As a result, we could shape the UI toward users’ actual needs and meet their expectations: bold process status, high visibility from a distance, error recovery guidance and straightforward measurement results representation.</p>
          </div>
          <div class="sec">
              <img src="./images/58c76eeb6f64a71b1b2ee6eea6590759.jpg" alt="laptop image">
          </div>      
       </section>
        
       <section id="info3">
            <h2>Minimalistic Design</h2>
          <div class="sec"><img src="./images/mockup2.png"></div>
          <div class="sec documentation">
              <p>We wanted to eliminate all unnecessary elements to create an outstandingly streamlined User Experience. Everything has been worked out around this idea. Every UI element was examined and taken out of the design if it wasn’t necessary for software functionality. As a result, we achieved an exceedingly clean UI yet very simple to maintain and expand.</p>
          </div>  
        </section>    
