 <div class="jumbotron">
            <br><br>
            <h1 class="text-center">SRI DEVI</h1>
            <div class="text-center" id="underline"></div>
            <div class="text-center"><p>UI &amp; UX DESIGNER / DEVELOPER</p></div>
        </div>
        
         
            <section id="content">
                <h2 class="recentWorkTitle"> RECENT WORK</h2>     
                <div id="portfolio" class="portfolio_items">
                    <div class="col_3">
                        <div class="work_item">
                            <a  href="http://sridevineeladharan.github.io/ami-auto/#about" target="_blank">
                                <img width="600" height="403" src="./images/VA2kgIFyX.jpeg" class="recentWork" alt="recentWork" />

                            <h4>AMI AUTO SPA</h4> </a>
                        </div>
                    </div>               
                    <div class="col_3">
                        <div class="work_item">
                            <a  href="https://sridevineeladharan.github.io/Devops/client/#!/home" target="_blank"><img width="600" height="403" src="./images/Jay.jpg" class="recentWork attachment-portfolio-thumb size-portfolio-thumb wp-post-image" alt="recentWork"/>			
                            <h4>JAY'S DEVOPS</h4></a>
                        </div>
                    </div>
                    <div class="col_3">
                        <div class="work_item">
                            <a  href="#"><img width="600" height="403" src="./images/sels.jpg" class="recentWork attachment-portfolio-thumb size-portfolio-thumb wp-post-image" alt="recentWork">
                            </a>
                                <h4>SELSS</h4>
                        </div>
                    </div>
                    <div class="col_3">
                        <div class="work_item">
                            <a  href="#">
                                <img src="./images/shop.jpg" class="recentWork attachment-portfolio-thumb size-portfolio-thumb wp-post-image" alt="recentWork" />
                            </a>			
                             <h4>MOKSHAM</h4>
                        </div>
                    </div>              
                    <div class="col_3">
                        <div class="work_item">
                            <a  href="#">
                                <img  src="./images/pic6.jpg" class="recentWork attachment-portfolio-thumb size-portfolio-thumb wp-post-image" alt="recentWork"/>
                            </a>			
                           <h4>BITLUME</h4>
                        </div>
                    </div>                
                    <div class="col_3">
                        <div class="work_item">
                            <a  href="#">
                                <img  src="./images/serial-cut-pirouette.jpg" class="recentWork attachment-portfolio-thumb size-portfolio-thumb wp-post-image" alt="recentWork" />
                            </a>		
                            <h4>SPECTROSCOPY QUALITY CONTROL SOFTWARE</h4></div>
                    </div>               
                </div>
            </section>

        
            <section id='devTools'>
         <h2>Technologies I Use</h2>
         
         <div class="techImg">
            <img src="./images/HTML5_Logo_512.png">
            <img src="./images/css3.png">
            <img src="./images/javascript_logo.png">
            <img src="./images/jquery-icon.png">
            <img src="./images/ang.jpg">
            <img src="./images/43.png">
          </div>
      </section>
        